<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory" /> 
    </configSections>
  <morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V3.Client, Morpher.WebService.V3">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <!--<parameters url="http://morpher.ru/WebService.asmx" username="morpherapisamples" password="declension123" token="38FE19B7-A7A0-4B63-AEA5-0F90AF7CFEAB"/>-->
        <parameters url="http://api3.morpher.ru" username="morpherapisamples" password="declension123" token="38FE19B7-A7A0-4B63-AEA5-0F90AF7CFEAB"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API" />
    </interfaces>
  </morpher>
</configuration>